.container {
    display: grid;
    grid-template-columns: [main-start] minmax(10rem, 1fr) [content-start] minmax(10rem, 5fr) [content-end main-end];
    grid-template-rows: [main-start] 5rem [profile-start content-start] 5rem 5rem [profile-end] auto [content-end] 5rem [main-end];

}

.column {}

.column-1 {
    grid-column: main;
}

.column-2 {
    grid-column: main-start / content-start;
    grid-row: profile-start / profile-end;
}

.column-3 {
    /* grid-column: content;
    grid-row: content; */
    grid-area: content;
}

.column-4 {}

.column-5 {}

.column-6 {
    grid-column: main;
}