.container {
    border: 1px solid black;    
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    grid-auto-rows: 10rem;
    gap: .3rem;    
    justify-content: space-evenly;
    align-content: space-around;
}

.column {
}

.column-1 {
}

.column-2 {
}

.column-3 {
    
}

.column-4 {
   
}

.column-5 {
    
}

.column-6 {
    
}