.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 5rem 5rem 5rem auto 5rem;
}

.column {
}

.column-1 {
    
}

.column-2 {
    
}

.column-3 {
    
}

.column-4 {
    
}

.column-5 {
    
}

.column-6 {
}