* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    background-color: khaki;
    height: 100vh;
    padding: 3rem 2rem;
}

.container {
    height: 100%;
    margin: 0 auto;
}

.column {
    text-align: center;
    padding: 1rem;
    color: white;
    font-weight: 700;
}

.column-1 {
    background-color: blueviolet;
}

.column-2 {
    background-color: burlywood;
}

.column-3 {
    background-color: coral;
}

.column-4 {
    background-color: darkcyan;
}

.column-5 {
    background-color: darkslateblue;
}

.column-6 {
    background-color: firebrick;
}