* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 55rem;
    margin: 0 auto;
    background-color: khaki;
    padding: 3rem 2rem;
}

.column {
    text-align: center;
    background-color: maroon;
    padding: 1rem;
    color: white;
    font-weight: 700;
}